<h1>Editing recipe</h1>
<div class= "jumbotron">
  <%= render 'form', recipe: @recipe %>
</div>

<%= link_to 'Show', @recipe, class: 'link-to-color btn' %>
<%= link_to 'Back', :back, class: 'link-to-color btn' %>
